<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:white-space="http://www.w3.org/1999/xhtml">
<head>
    <title>Campus Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" type="text/css" media="all">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/postcode.js"></script>
    <script src="/chatcode.js"></script>
<style>
#postbox {
            border-radius: 25px;
            border: 2px solid #761497;
            <!--padding: 20px;-->
            width: 100%;
            height: 225px;
        }
</style>
</head>
<body>
<div class="topnav">
    <a class="active" href="/home">CAMPUS CONNECT    </a>
    <a href="/Profile">Profile</a>
    <a href="/feed">Feed</a>
    <a href="/ws">Live Chat</a>
    <!--<a href="/ws">Chat</a>-->
    <a href="/logout">Sign out</a>
</div>

<div class="sidenav">
    <a th:href="@{'/Profile'}" th:text="${user.username}"></a>
    <!--<a th:href="@{'/user/' + ${user.id}}" th:text="${user.username}"></a>-->
    <a th:href="@{'/user/groups'}">Groups</a>
    <a th:href="@{'/messages'}">Messages</a>
</div>

<div class="main">
    <div class="row">
        <!-- First COlUMN. -->
        <div class="col">
            <div class="whitecard" id="postbox">
                <p>Post Something ...</p>
                <form th:action="@{/post/add}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="poster" th:value="${user.id}"/>
                    <input type="hidden" name="group" th:value="1"/>
                    <textarea name = "content" rows="3" cols="30" placeholder = "text..."></textarea>
                    <input type="file" name="file"/>
                    <br>
                    <input class="btn btn-outline-secondary btn-sm" type="submit" value="post"/>
                </form>
            </div>

            <!--<p th:text="'Feed'"/>-->
            <div id="conversation" class="card" th:each="post : ${#lists.sort(feed)}">
                <p><a th:href="@{'/user/' + ${post.postedBy}}" th:text="${post.postedByUser.username}">User ...</a></p>
                <p><a th:href="@{'/group/list/' + ${post.postedIn}}" th:text="${post.postedInGroup}">view</a></p>
                <p th:text="${post.content}" class="posttext">Text ...</p>
                <div th:if="${post.hasImage} == true">
                    <img th:src="@{~/getImageFromPost/} + ${post.id}" class="posttext"/>
                </div>

                <!--<p th:utext="${#strings.replace( #strings.escapeXml( post.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">User ...</p>-->
                <!--<p th:utext="${#strings.replace( #strings.escapeXml( post.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" class="posttext">User ...</p>-->

            </div>
        </div>
        <div class="col">

        </div>
        <br>

    </div>
</div>
</div>
</body>
</html>
