<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" i
          ntegrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" type="text/css" media="all">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/postcode.js"></script>

</head>
<style>
#postbox {
            border-radius: 25px;
            border: 2px solid #761497;
            <!--padding: 20px;-->
            width: 100%;
            height: 225px;
        }
</style>
<body>
<div class="topnav">
    <a class="active" href="/home">CAMPUS CONNECT</a>
    <a href="/Profile">Profile</a>
    <a href="/feed">Feed</a>
    <a href="/logout">Sign out</a>
</div>

<div class="sidenav">
    <p><a th:href="@{'/group/list/' + ${groupId}}" th:text="${groupName}">view</a></p>
    <p><a th:href="@{'/group/users/' + ${groupId}}">MEMBERS</a></p>
    <form th:action="@{/group/leave}" , method="post" enctype="application/x-www-form-urlencoded">
        <!--<a th:href="@{'/group/list/' + ${aGroup.id}}" th:text="${aGroup.name}"> Group-->
        <!--</a>-->
        <input type="hidden" name="newMemberId" th:value="${user.id}"/>
        <input type="hidden" name="groupId" th:value="${groupId}"/>
        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Leave Group"/>
    </form>

    <!--<a th:href="@{${g/users" th:text="${groupName}">MEMBERS</a>&ndash;&gt;-->

</div>

<div class="main">
    <div class="row">
        <!-- First COlUMN. -->
        <div class="col">
            <div class="whitecard" id="postbox">
                <p>Post Something ...</p>
                <form th:action="@{/group/post/add}" method="post">
                    <input type="hidden" name="poster" th:value="${user.id}"/>
                    <input type="hidden" name="group" th:value="${groupId}"/>
                    <textarea name = "content" rows="3" cols="30" placeholder = "text..."></textarea>
                    <br>
                    <input class="btn btn-outline-secondary btn-sm" type="submit" value="post"/>
                </form>
            </div>
            <!--<p th:text="'Feed'"/>-->
            <div class="card" th:each="post : ${#lists.sort(feed)}" >
                <p><a th:href="@{'/user/' + ${post.postedBy}}" th:text="${post.postedByUser.username}">User ...</a></p>
                <!--<p th:text="| ${user.username}|"/>-->
                <!--<h1 th:inline="text| ${user.username}|" ></h1>-->
                <!--<p><a th:href="@{'/group/list/' + ${post.postedIn}}" th:text="${post.postedInGroup.name}">view</a></p>-->
                <p th:text="${post.content}" class="posttext">Text ...</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>
