<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Campus Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" type="text/css" media="all">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/postcode.js"></script>
</head>
<body>
<div class="topnav">
    <a class = "active" >CAMPUS CONNECT</a>
    <a href="/home">Home</a>
    <a href="/Profile">Profile</a>
    <a href="/feed">Feed</a>
    <a href="/logout">Sign out</a>
</div>

<div class="sidenav">
    <a th:href="@{'/Profile'}" th:text="${user.username}"></a>
    <!--<a th:href="@{'/user/' + ${user.id}}" th:text="${user.username}"></a>-->
    <a th:href="@{'/user/groups'}">Groups</a>
    <a th:href="@{'/messages'}">Messages</a>
</div>
<div class="main">

    <div class="row">
        <!-- First COlUMN. -->
        <div class="col">

            <form th:action="@{/group/add}" method="post" enctype="application/x-www-form-urlencoded">
                Create a new group
                <input type="hidden" name="creatorId" th:value="${user.id}"/>
                <div><label> Group Name : <input type="text" name="groupName"/> </label></div>
                <div><input class="btn btn-outline-secondary btn-sm" type="submit" value="Create"/></div>
            </form>

            <!--<div th:if="${createGroupError}"> Could not create group</div>-->

            <p th:text="'Groups that you are a part of'"/>
            <div th:each="aGroup: ${myGroups}">
                <p><a th:href="@{'/group/list/' + ${aGroup.id}}" th:text="${aGroup.name}"> Group


                <form th:action="@{/group/leave}" , method="post" enctype="application/x-www-form-urlencoded">
                    <!--<a th:href="@{'/group/list/' + ${aGroup.id}}" th:text="${aGroup.name}"> Group-->
                    <!--</a>-->
                    <input type="hidden" name="newMemberId" th:value="${user.id}"/>
                    <input type="hidden" name="groupId" th:value="${aGroup.id}"/>
                    <input class="btn btn-outline-secondary btn-sm" type="submit" value="Leave Group"/>
                </form></a></p>
            </div>

            </p>
        </div>

        <div class="col">

            <p th:text="'All other groups'"/>
            <div th:each="aGroup: ${allGroups}">
                <form th:action="@{/group/join}" , method="post" enctype="application/x-www-form-urlencoded">
                    <a th:href="@{'/group/list/' + ${aGroup.id}}" th:text="${aGroup.name}"> Group
                    </a>
                    <input type="hidden" name="newMemberId" th:value="${user.id}"/>
                    <input type="hidden" name="groupId" th:value="${aGroup.id}"/>
                    <input class="btn btn-outline-secondary btn-sm" type="submit" value="Join"/>
                </form>

            </div>
            </p>
        </div>

        <p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </p>
        <p>
    </div>
</div>
</body>
</html>
<script th:inline="javascript">
/*<![CDATA[*/

    var usrnme = /*[[${user.username}]]*/ 'default';
   //console.log(usrnme);

/*]]>*/

</script>