<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'please add your message'" />

<form method="POST" action="/api/group/message/add">
    <h2>Post</h2>
    <input  type="text" required name="group" placeholder="group">
    <input  type="text" required name="message" placeholder="text">
    <input  type="text" required name="" placeholder="Email">
    <label class="checkbox"></label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</body>
</html>